
<div class="wrap">
	<div id="content">
		<div id="main">

			<div class="full_w">
				<h1 class="log">Admin Login</h1>
				<%= form_tag sessions_path do %>
					<%= label_tag :email %>
					<%= text_field_tag :email, params[:email], :class =>"text",:id=>'login' %>
					<%= label_tag :password %>
					<%= text_field_tag :password,nil,:type => "password",:class =>"text" ,:id => 'pass'%>
					<div class="sep"></div>
					<%= submit_tag "Login", :class => 'ok' %>
				<%end%>
			</div>
		</div>
	</div>
</div>
