<h1>My List of Albums</h1>
<div align ="right" class="new-btn"><%= link_to "Create a new album", new_admin_album_path %></div>

<table id="insured_list" border=1 class="list_table_2">
  <thead>
  <tr>
    <th class="sort2">Title</th>
    <th class="sort2">Upload Date</th>
    <th class="sort2">Modify Date</th>
    <th class="sort2">Image Count</th>
    <th>Position</th>
    <th>Manage Image</th>
    <th>View Album Images</th>
		
    <th colspan = "3">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @albums.each_with_index do |album,index| %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.upload_date %></td>
      <td><%= album.modify_date %></td>
      <td><%= album.album_images.try(:count) %></td>
      <td>
      <%= link_to image_tag("upside_arrow.jpg",:width => '18px'),:action=>"change_position",:id=>album.id,:change_id=>@albums[index.to_i - 1].id if index.to_i != 0 %>
      &nbsp;
      <%= link_to image_tag("downside_arrow.jpg",:width => '18px'),:action=>"change_position",:id=>album.id,:change_id=> @albums[index.to_i + 1].id if !@albums[index.to_i + 1].blank?%>
    </td>
      <td><%= link_to "Upload Image/s", :controller => "album_images", :action => "upload", :id=> album %></td>
      <td><%= link_to "View Image/s", :action => "show_images", :id=> album %></td>
      <td><%= link_to image_tag("view_icon.png", :alt=>"View",:border=>"0",  :title=>"View"), [:admin,album] %></td>
      <td><%= link_to image_tag("Text-Edit-Icon.png", :alt=>"Edit",:border=>"0",  :title=>"Edit"), edit_admin_album_path(album) %></td>
      <td><%= link_to image_tag("notebook_delete.png", :alt=>"Delete",:border=>"0",  :title=>"Delete"), [:admin,album], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if @albums.count > 10 %>
<div id="pager" class="pager">
  <form>
    <%= image_tag('first.png' , :class=>'first' ,:title=>"First") %>
    <%= image_tag('prev.png' , :class=>'prev' ,:title=>"Previous" ) %>
    <input type="text" class="pagedisplay"/>
    <%= image_tag('next.png' , :class=>'next',:title=>"Next" ) %>
    <%= image_tag('last.png' , :class=>'last',:title=>"Last" ) %>
    <select class="pagesize">
      <option  value="5">5 per page</option>
      <option selected="selected" value="10">10 per page</option>
      <option value="20">20 per page</option>
      
    </select>
  </form>
</div>
<% end %>
