<!-- raviiiiiiiiiiiiiiiiiiiiii-->
<%#= render 'layouts/header'%>
<div class="header">
	<div class="top-menu">
    <%= link_to "HOME", root_url %> /
    <%= link_to "GALLERY", :controller=>"/admin/albums", :action=>"index" %> /
    <%#= link_to "CONTACT", :controller => "/home", :action=>"contact_us" %>
    <%#= link_to "ABOUT ME", :controller => "/home", :action=>"about" %>
    <%#= link_to "ADMIN", :controller=>"/admin/albums", :action=>"index" %>
    <%= link_to "SET PAGES", admin_pages_path %> 
    <% if current_user %>
     / <%= link_to "LOGOUT", logout_path(current_user.id), :method => :delete%>
    <% else %>
    / <%= link_to "LOGIN", new_session_path %>
    <% end %>
  </div>
  <div class="logo"><%= link_to image_tag('poonam_logo.png'), root_url%></div>
</div>
