  <div id="header">
    <div id="top">
      <div class="left">
        <p><b>Poonam Jadhwani-Admin Panel</b></p>
      </div>
      <div class="right">
        <div class="align-right">
          <p>Welcome, <strong>Admin</strong> [ <a href="<%=logout_path(current_user.id)%>">logout</a> ]</p>
        </div>
      </div>
    </div>
    <div id="nav">
      <ul>
        <li class="upp"><a href="<%=root_url%>">Home</a>
          <!-- <ul>
            <li>&#8250; <a href="">Visit site</a></li>
            <li>&#8250; <a href="">Reports</a></li>
            <li>&#8250; <a href="">Add new page</a></li>
            <li>&#8250; <a href="">Site config</a></li>
          </ul> -->
        </li>
        <li class="upp"><a href="#">Gallery</a>
          <ul>
            <li>&#8250;<%= link_to "Show Gallery", :controller=>"/admin/albums", :action=>"index" %></li>
            <li>&#8250; <a href="">Add new</a></li>
            <!-- <li>&#8250; <a href="">Add new gallery</a></li>
            <li>&#8250; <a href="">Categories</a></li> -->
          </ul>
        </li>
        <li class="upp"><a href="#">Set Pages</a>
          <ul>
            <li>&#8250; <%=link_to "Show All Pages", admin_pages_path %></li>
            <li>&#8250;<%=link_to "Add new", new_admin_page_path %></li>
            <!-- <li>&#8250; <a href="">Lock users</a></li> -->
          </ul>
        </li>
        <li class="upp"><a href="#">Settings</a>
          <ul>
            <li>&#8250; <a href="">Dummy</a></li>
            <li>&#8250; <a href="">Dummy</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
